/* ***** REGLAGE PAGE ***** */
.page {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
button {
  outline: none;
}
input {
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
.anounce_page {
  background-color: rgb(238, 238, 238);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.bloc_anounce {
  display: flex;
  flex-direction: column;
  height: 89vh;
}

.logo {
  height: 55px;
}
.charging {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  margin: auto;
}
.btn_border_none {
  border: none;
}

/* ***** END REGLAGE PAGE ***** */
/* ***** HEADER ***** */

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
.headerBand {
  background-color: white;
  height: 60px;
  display: flex;
}
.left {
  display: flex;
}
.right {
  display: flex;
}
.btn-plus {
  height: 40px;
  margin: auto 10px;
  border: none;
  background-color: #f56a29;
  color: white;
  border-radius: 5px;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.btn-search,
.btn-connect {
  border: none;
  background-color: white;
  outline: none;
  align-items: center;
  display: flex;
}
.btn-connect {
  display: flex;
  flex-direction: column;
}
.far.fa-user {
  margin: 5px 0px;
}
a {
  display: flex;
}

.btn-connect:focus {
  cursor: pointer;
  border-bottom: 2px solid #f56a29;
}
.btn-search:focus {
  cursor: pointer;
  border-bottom: 2px solid #f56a29;
}
.profil {
  border: none;
  background-color: white;
  outline: none;
}
.btn-connecting {
  margin: 0px;
}
.btn-search,
.btn-connect,
.profil:hover {
  cursor: pointer;
}
.orange {
  height: 80px;
  background-color: #f56a29;
  border-radius: 0px 0px 100% 100%;
}
i {
  font-size: large;
}
.fas.fa-search {
  margin: 0px 10px;
}
/* ***** BODY ***** */
.offers-description {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  margin: 10px auto;
  width: 80%;
  display: flex;
  color: black;
  border-radius: 5px;
  box-shadow: #00000038 5px 5px 5px;
  border: none;
  background-color: white;
}
.offers_img {
  height: 150px;
  width: 150px;
  object-fit: fill;
  border-radius: 5px 0px 0px 5px;
}

h3 {
  margin: 0px;
  text-decoration: none;
}
.price {
  color: #f56a29;
}
.anounce_date {
  display: flex;
}
/* ***** END BODY ***** */
/* ***** FILTERS ***** */

.annonce-box {
  margin: 0px 20px 40px 0px;
  box-sizing: border-box;
  box-shadow: #17161647 5px 5px 5px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
}
.filter {
  display: flex;
  justify-content: center;
}
.block-filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 100px;
}
.btn-filter {
  background-color: #4183d7;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  cursor: pointer;
  margin: 0px 10px;
}
.input-filter {
  background-color: rgb(238, 238, 238);
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  font-size: large;
  box-sizing: border-box;
  padding: 10px;
}

.more-info {
  margin: 0px;
}

.picture-description {
  width: 100%;
}
.creator {
  height: 100%;
  padding: 20px 20px 10px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: #00000045 5px 5px 5px;
}
.all-box {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 50px;
}
h2 {
  margin: 0;
}
.btn-buy {
  width: 250px;
  height: 40px;
  background-color: #f56a29;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  margin: 20px;
  outline: none;
  cursor: pointer;
}
.blue {
  color: blue;
  font-weight: 600;
  margin: 0px 0px 40px 0px;
}
.annonce-description {
  padding: 20px;
}
.decription {
  padding: 20px;
}
a {
  text-decoration: none;
}
.input-number {
  border-radius: 5px;
  border: none;
  background-color: rgb(238, 238, 238);
  width: 30%;
}
.block_filters {
  display: flex;
  justify-content: space-between;
}
.div_filter {
  display: flex;
  border: 1px solid red;
  width: 20%;
}
/* ***** END FILTERS ***** */
/* ----- PAGINATION ----- */
.pagination-btn {
  display: flex;
  justify-content: center;
}
.fas.fa-chevron-left {
  color: #4183d7;
}
.btn-page {
  display: flex;
  flex-direction: row;
  border: none;
  color: #4183d7;
  font-size: large;
  margin: 5px;
}
.btn-page-selected {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: #f56a29;
  color: white;
  font-size: large;
  border-radius: 2px;
  margin: 5px;
}
.fas.fa-chevron-right {
  color: #4183d7;
}
.all_btn_page {
  display: flex;
  margin: 20px;
}
/* ----- END PAGINATION ----- */
/* ***** LOG_IN ***** */
.pageLogIn {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
}
.inputLogIn {
  height: 30px;
  justify-content: center;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
}
.blockInput {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.btn-blue {
  width: 90%;
  height: 32px;
  background-color: #4183d7;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 20px 0px 0px 0px;
}
.strongLogIn {
  color: black;
}
.backgroudBlue {
  height: 32px;
  width: 90%;
  background-color: #4183d7;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: small;
}

.blockLog {
  width: 50%;
  background-color: white;
  border-radius: 5px;
}
.h3LogIn {
  text-align: center;
  margin: 20px;
}
.hrLogIn {
  width: 90%;
  border: solid 1px;
  color: #f56a29;
  margin-bottom: 30px;
}
.formLogIn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}
.blockCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 40px;
}

/* ***** END LOGIN ***** */
/* ***** CREATE ***** */
.block {
  background-color: rgb(238, 238, 238);
  height: 100vh;
  display: flex;
}
.all-create {
  display: flex;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
}
.info-create {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.create {
  margin: 10px;
}
li {
  list-style: none;
}
.titleCreate {
  margin: 10px 0px 30px 0px;
}
ul {
  padding: 0px;
}
/* **** PUBLISH ***** */
.container-publish {
  width: 50%;
}

.page-publish {
  background-color: rgb(238, 238, 238);
  height: 100%;
}
.bloc-publish {
  width: 80%;
  border-radius: 5px;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  justify-content: center;
}
.h2-publish {
  text-align: center;
}
.input-publish {
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(184, 184, 184);
}
.div-publish,
.text-publish {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 50%;
}

strong {
  margin-bottom: 20px;
}
.valider {
  width: 50%;
  margin: auto;
  background-color: #4183d7;
  height: 40px;
  font-size: large;
  color: white;
  border: none;
  border-radius: 5px;
}
.hr-publish {
  width: 50%;
  color: #f56a29;
}
.input-choose {
  border: none;
}
.text-publish {
  height: 150px;
  width: 89%;
  border-radius: 5px;
  border: 1px solid rgb(184, 184, 184);
}
/* ----- FOOTER ----- */
.footer {
  text-align: center;
  background-color: #474747;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
strong {
  color: #4183d7;
}

.pOfFooter {
  margin: 0px;
}
