/* ***** REGLAGE PAGE ***** */
.page {
  background-color: rgb(238, 238, 238);
}
.ad-page {
  background-color: rgb(238, 238, 238);
}
.logo {
  height: 50px;
}
.charging {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  margin: auto;
}
/* ***** HEADER ***** */

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
.headerBand {
  background-color: white;
}
.left {
  display: flex;
}
.right {
  display: flex;
}
.btn-plus {
  height: 40px;
  margin: auto 10px;
  border: none;
  background-color: #f56a29;
  color: white;
  border-radius: 5px;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.btn-search {
  border: none;
  background-color: white;
  outline: none;
}
.btn-search:hover {
  cursor: pointer;
  border-bottom: 2px solid #f56a29;
}
.profil {
  border: none;
  background-color: white;
  outline: none;
}
.profil:hover {
  cursor: pointer;
  border-bottom: 2px solid #f56a29;
}
.orange {
  height: 80px;
  background-color: #f56a29;
  border-radius: 0px 0px 100% 100%;
}
i {
  font-size: large;
}
.fas.fa-search {
  margin: 0px 10px;
}
/* ***** BODY ***** */
.offers-description {
  padding: 0px 20px;
}
.box {
  margin: 15px auto;
  height: 150px;
  width: 80%;
  display: flex;
  color: black;
  border-radius: 5px;
  box-shadow: #00000038 5px 5px 5px;
  border: none;
  background-color: white;
}
.offers {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
}

h3 {
  margin: 0px;
  text-decoration: none;
}
.price {
  color: #f56a29;
}
/* ***** ADS ***** */

.ad-box {
  margin: 0px 20px 40px 0px;
  box-sizing: border-box;
  box-shadow: #17161647 5px 5px 5px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
}

.picture-description {
  width: 100%;
}
.creator {
  height: 100%;
  padding: 20px 20px 10px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: #00000045 5px 5px 5px;
}
.all-box {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 50px;
}
h2 {
  margin: 0;
}
.btn-buy {
  width: 250px;
  height: 40px;
  background-color: #f56a29;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  margin: 20px;
  outline: none;
  cursor: pointer;
}
.blue {
  color: blue;
  font-weight: 600;
  margin: 0px 0px 40px 0px;
}
.ad-description {
  padding: 20px;
}
.decription {
  padding: 20px;
}
